#pageTitle {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.fixedContainer {
    position: fixed;
}

.contents {
    margin-top: 70px;
}

.contentBlockTitle {
    text-align: center;
}

h2 samp:hover {
    color: #428BCA;
    cursor: pointer;
}

.container .well {
    border-color: #EE3232;
    border-width: 2px;
    margin-top: -3px;
    min-height: 80px;
    background-color: white;
}

.container .well img {
    width: 130px;
    vertical-align: middle;
}

@media print {
    .contents {
        display: none;
    }
}
